<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa Form</title>
</head>
<body>

<h2>empresa Form</h2>

<form th:object="${doador}" th:action="@{/save}" method="post">
    <!-- Add labels and unique IDs for each form field -->
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" th:field="*{nome}" required>

    <label for="sobrenome">Caracteristica da empresa:</label>
    <input type="text" id="Caracteristica_empresa" name="sobrenome" th:field="*{caracteristica_empresa}" required>

    <label for="cpf">CNPJ:</label>
    <input type="text" id="cpf" name="cnpj" th:field="*{cnpj}" required>

    

    
    <button type="submit">Enviar</button>
</form>

</body>
</html>
