<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Doadores</title>
</head>
<body>

    <h2>Listagem de Doadores</h2>

    <!-- Formulário de Pesquisa -->
    <form action="/doador" method="get" th:object="${doadorList}">
        
    </form>

    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Email</th>
                <th>Disponibilidade</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${#lists.isEmpty(doadorList)}">
                <td colspan="6">Nenhum doador encontrado.</td>
            </tr>
            <tr th:each="doador : ${doadorList}">
                <td th:text="${doador.nome}"></td>
                <td th:text="${doador.sobrenome}"></td>
                <td th:text="${doador.bairro}"></td>
                <td th:text="${doador.cidade}"></td>
                <td th:text="${doador.email}"></td>
                <td th:text="${doador.disponibilidade}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>
